*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1b34;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background: none;
  border: none;
}

li{
  list-style: none;
  color: inherit;
}


/* button styling */

.bigBtn{
  width: 250px;
  background: #05C169;
  padding: 17px;
  border-radius: 10px;
  color: #232324;
  font-weight: 600;
  transition: all ease-out .3s;
  transition-delay: .1s;
  font-size: .9rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.bigBtn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #232324;
  transform: scaleX(0);
  transform-origin: 0;
  transition: all ease-in-out .3s;
  z-index: -1;
}

.bigBtn:hover,
.bigBtn:focus{
  color: #ffffff;
}

.bigBtn:hover:before,
.bigBtn:focus:before{
  transform: scaleX(1);
}

.bigBtn.full{
  width: 100%;
}

.bigBtn.full.load{
  background: #00b35f;
}

.heroBtn{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border-radius: 50px;
  background-image: linear-gradient(281deg, #420be6, #a16bb3);
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transition: all ease-out .3s;
  transition-delay: .1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.pink{
  background: linear-gradient(270deg,#950cbe,#ff1475 51.56%,#ff7804)
}

.small{
  width: 160px;
  font-size: .8rem;
}

.transparent{
  background: none;
  color: #bbbbbb;
  border: 0.5px solid #bbbbbb39;
  transition: all ease-out .3s;
  padding: 12px !important;
  font-weight: 400;
}

.transparent svg{
  padding-right: 10px;
}

.transparent:hover{
  border: 0.5px solid #000000;
}

.heroBtn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  transform: scaleX(0);
  transform-origin: 0;
  transition: all ease-in-out .3s;
  z-index: -1;
  border-radius: 50px;
}

.heroBtn:hover,
.heroBtn:focus{
  color: #ffffff;
}

.heroBtn:hover:before,
.heroBtn:focus:before{
  transform: scaleX(1);
}


/* form styling */

.formCtn{
  min-height: 100vh;
  background: white;
  padding: 100px 0 0 0;
  display: grid;
  place-items: center;
}

.form{
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.7);
  padding-bottom: 30px;
}

.form h1{
  font-size: 2rem;
  color: #232324;
  font-weight: 400;
  text-align: center;
}

.form input{
  height: 18px;
}

.formError{
  color: rgb(247, 45, 45);
  font-size: 0.9rem;
  word-wrap: break-word;
}


.skiptranslate iframe{
  display: none !important;
}

#google_translate_element{
  height: 40px;
  border-radius: 45px;
}

#google_translate_element select{
  padding: 5px 0 5px 10px;
  background: transparent;
  border: none;
  font-weight: 1.1rem;
  font-family: sans-serif;
  margin-bottom: -20px;
  outline: none;
}

#google_translate_element select option{
  color: black;
}

#google_translate_element select:first-child{
  color: white;
}

#google_translate_element span{
  display: none;
}

.deposit{
  font-size: 17px;
  color: #00ee18;
}

.withdrawal{
  font-size: 17px;
  color: #ff2727;
}


@media screen and (max-width: 600px){
.formCtn{
  background: white;
  place-items: start;
}

.form{
  width: 100%;
  background: white;
  box-shadow: none;
}

.form.left h1{
  text-align: left;
}

.heroBtn{
  width: 200px;
}

.small{
  width: 120px;
  font-size: .9rem;
  font-weight: 500;
}

#google_translate_element select{
  margin-right: -20px;
}

}

@media screen and (max-width: 360px){
.form h1{
  font-size: 8vw;
}
}